In [2]:
import pandas as pd

df = pd.read_csv('Data/10000_transactions.csv', engine="python")
df.head()

,order_number,product_id,customer_id,product_name,department_id,price
0,2,33120,202279,Organic Egg Whites,16,5.33
1,5,48370,156122,Sensitive Toilet Paper,17,9.33
2,7,46802,142903,Pineapple Chunks,1,6.76
3,10,3464,135442,"Organic Butterhead (Boston, Butter, Bibb) Lettuce",4,9.00
4,10,25720,135442,Organic Sunchoke,4,10.06

## How many items are sold for \$0.94?
More items are priced at \$0.94 than any other. How many of these products are being sold? How much money could be saved if we sold these items for \$0.99 instead?

In [6]:
product094 = df[df['price'] == 0.94]
sold094 = len(product094)
actualRevenue=sold094*0.94

suggestedPrice=0.99
suggestedRevenue=0.99 * sold094
revenueDelta=suggestedRevenue-actualRevenue

print("Number of products sold at $0.94: \n%i" % sold094)
print("Profit if sold at $0.99: \n$%.2f" % revenueDelta)

Number of products sold at $0.94: 52
Profit if sold at $0.99: 2.60

What would happen if we rounded every price to the nearest highest nine-cent value? How would the